<section class="mt-0" style="background-image: url(/img/static/Rectangle1313.png);">
    <div class="bg-dark-200  w-100 h-100 d-flex flex-column align-items-center justify-content-center gap-1 py-10">
        <p class="fs-1 fw-semibold text-white text-center">INSPIRATION FOR WRITING BY REAL PEOPLE</p>
        <p class="fs-5 text-white text-center">Book smart, Write simple</p>
        <a class="py-3 px-5 border-0 rounded-4 bg-white" href="/addArticle">
            Start Writing Your Article
        </a>
    </div>
</section>