<nav class="position-fixed z-2 top-0 d-flex align-items-center px-5 w-100 py-2 gap-3 <% if(dark){%><%= 'dark'%><%} %>">
    <div class="logo">
        <img src="/img/static/logo.png" style="width: 50px;height: 50px;" alt="">
    </div>
    <div class="ms-auto position-relative search">
        <label for="search">
            <svg class="position-absolute" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/></svg>
        </label>
        
        <input type="text" id="search" class="p-2 border-0 rounded-pill overflow-hidden text-white fw-bold">
    </div>
    <% if(user) {%>
        <button class="px-5 py-2 bg-dark text-white border-0 fw-bold rounded-4 text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <%=user.full_name%>
        </button>
    <%}else{%>
        <a class="px-5 py-2 bg-dark text-white border-0 fw-bold rounded-4 text-decoration-none" href="/auth/register">
            Join Us
        </a>
    <%}%>
</nav>
<script>
    window.addEventListener('scroll',()=>{
        if(window.scrollY > 50){
            document.querySelector('nav').style.backgroundColor = 'rgb(0,0,0,0.5)'
        }else{
            document.querySelector('nav').style.backgroundColor = ''
        }
    })
</script>