<section class="sideArticles d-flex flex-wrap gap-3 p-3 col-3 flex-grow-1" style="min-width: 320px;height: max-content;">
    <% articles.forEach(article => {%>
        <%- include('./sideArticle.ejs', { article: article}) %>
    <%}); %>
</section>